body {text-align: center;}

.total
{
    margin: 0 auto;
    width: 800pt;
}

.first
{
    height: 60pt;
    width: 570pt;
    padding-top: 10pt;
}
.first1
{
    width: 140pt;
    height: 50pt;
    float: left;
}
.first2
{
    width: 360pt;
    height: 50pt;
    float: right;
}
.first ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.first li{display: inline}
.first a{text-decoration: none}

.second
{
    height: 90pt;
}

.third
{
    height: 300pt;
    width: 600pt;
}
.third1
{
    height: 30pt;
}
.third2
{
    float: left;
    height: 270pt;
    width: 120pt;
    background-color: #F0F2F5;
}
.third3
{
    float: left;
    height: 270pt;
    width: 480pt;
    display: inline-block;
}
.third3-1
{
    height: 30pt;
    width: 300pt;
}
.third3-2
{
    height: 100pt;
    width: 480pt;
}
.third ul
{
    list-style-type: none;
    margin:0;
    padding:0;
}
.third a
{
    border-left: #D3D3D3 solid 4pt;
    border-bottom: white solid 1px;
    height: 21pt;
    display:block;
    padding-top: 5pt;
    color:black;
    background-color:#F0F2F5;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
}
.third a:hover,a:active,a:visited
{
    color: blue;
}
.third1 ul{
    list-style-type: none;
    margin:0;
    padding:0;
    border-bottom: #D3D3D3 solid 1px;
}
.third1 li{display: inline}
.third3-1 h1
{
    font-size: 14pt;
    margin: 4pt auto;
}
.third3-1 p
{
    font-size: 10pt;
    margin: 0 auto;
    color: gainsboro;
}
.third3-2 p
{
    font-size: 10pt;
    text-indent: 2em;
    margin: 3pt auto;
    line-height: 14pt;
    color: #666666;
}

.final
{
    height: 80pt;
    background-color: #D3D3D3;
}
.final p
{
    font-size: small;
    margin: 3pt auto;
    color: #666666;
}

a:link
{
    color: black;
}
a:visited
{
    color: black;
}
a:hover,a:active
{
    background-color:yellow;
    color: blue;
}
