/*头*/
#top
{
    margin: 0 auto;
    width: 1300px;
    height: 100px;
    background: url('../imgs/top_background.png') no-repeat center;
}
#top input
{
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    height: 100px;
    padding: 0px 20px 0px 20px;
}
#inp1
{
    margin-left: 215px;
}
#inp4
{
    margin-left: 150px;
}
#top input:hover, #top input:active
{
    color: #65360a;
    background: white;
}
#index_gywm
{
    display: none;
    width: 125px;
    height: 80px;
    position: absolute;
    top: 14%;
    right: 300px;
}
#index_gywm input
{
    border: none;
    background: #65360a;
    color: white;
    font-size: 20px;
    width: 120px;
    height: 40px;
    padding: 0px 20px 0px 20px;
}
#index_gywm input:hover, #index_gywm input:active
{
    color: #65360a;
    background: white;
}
