#gywm
{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    background: #f7f6f4;
}
#gywm1
{
    width: 900px;
    margin: 0 auto;
}
#gywm2
{
    width: 900px;
    height: 50px;
    padding-top: 20px;
    color: #65360a;
    font-size: 20px;
    text-align: center;
}
p
{
    margin-top: -10px;
    line-height: 26px;
    font-size: 16px;
    text-align: left;
    text-indent: 2em;
    letter-spacing: 2px;
}